# Merging Datasets
Use pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 3*.

In [1]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

### Create combined dataset

In [10]:
# rename 2008 columns
df_08.rename(lambda x : x[:10]+'_2008', axis='columns', inplace=True)

In [17]:
# view to check names
df_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3.0,23.0,33.0,27.0,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3.0,20.0,32.0,24.0,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3.0,21.0,30.0,24.0,5,No

In [26]:
# merge datasets
df_combined = pd.merge(df_08, df_18, how='inner', left_on=['model_2008'], right_on=['model'])

In [30]:
# view to check merge
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 921
Data columns (total 26 columns):
model_2008              922 non-null object
displ_2008              922 non-null float64
cyl_2008                922 non-null int64
trans_2008              922 non-null object
drive_2008              922 non-null object
fuel_2008               922 non-null object
veh_class_2008          922 non-null object
air_pollut_2008         922 non-null float64
city_mpg_2008           922 non-null float64
hwy_mpg_2008            922 non-null float64
cmb_mpg_2008            922 non-null float64
greenhouse_2008         922 non-null int64
smartway_2008           922 non-null object
model                   922 non-null object
displ                   922 non-null float64
cyl                     922 non-null int64
trans                   922 non-null object
drive                   922 non-null object
fuel                    922 non-null object
veh_class               922 non-null object
air_pollution_score     922 non-null float64
city_mpg                922 non-null float64
hwy_mpg                 922 non-null float64
cmb_mpg                 922 non-null float64
greenhouse_gas_score    922 non-null int64
smartway                922 non-null object
dtypes: float64(10), int64(4), object(12)
memory usage: 194.5+ KB

Save the combined dataset

In [29]:
df_combined.to_csv('combined_dataset.csv', index=False)